<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">STP Plant Dashboard </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="https://nmcg.nic.in/NamamiGanga.aspx">Community</a></li>
        {% if user.is_authenticated %}
             <li><a href="/account">{{user.username|title}}--<span class="glyphicon glyphicon-user"></span></a></li>
             <li><a href="/logout">Logout</a></li>
        {% else %}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        {% endif %}  
      </ul>
    </div>
</nav>